/aopalliance-1.0.jar
/commons-logging-1.1.1.jar
/log4j-api-2.3.jar
/log4j-core-2.3.jar
/ognl-2.6.11.jar
/spring-aop-4.2.1.RELEASE.jar
/spring-beans-4.2.1.RELEASE.jar
/spring-binding-2.4.0.RELEASE.jar
/spring-context-4.2.1.RELEASE.jar
/spring-core-4.2.1.RELEASE.jar
/spring-expression-4.2.1.RELEASE.jar
/spring-js-2.4.0.RELEASE.jar
/spring-js-resources-2.4.0.RELEASE.jar
/spring-web-4.0.2.RELEASE.jar
/spring-webflow-2.4.0.RELEASE.jar
/spring-webmvc-4.0.2.RELEASE.jar
